<section class="vh-100" style="background-image: linear-gradient( 110.1deg,  rgba(30,2,83,1) 44.2%, rgba(198,55,160,1) 138.2% );">
<br>
<br>
<br>
<br>
<h1>JUEGOS</h1>
<div class="container">
    <div class="row pt-5 m-auto">

      <div *ngFor="let i of listajuegos; let iControl=index" class="col-md-6 col-lg-4 pb-3">

        <!-- Add a style="height: XYZpx" to div.card to limit the card height and display scrollbar instead -->
        <div class="card card-custom bg-white border-white border-0" style="height: 450px">
          <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
          <div class="card-custom-avatar">
            <img class="img-fluid" src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg" alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">{{i.nombre}}</h4>
            <p class="card-text"><strong>DESCRIPCION:</strong></p>
            <p class="card-text">{{i.descripcion}}</p>
            <p class="card-text"><strong>PRECIOS:</strong></p>
            <p class="card-text">${{i.precio}}</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: inherit;">
            <a href="#" class="btn btn-primary">Comprar</a>
            <a href="#" class="btn btn-outline-primary">Agregar al carro</a>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>