
  
    <nav *ngIf="showNav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand text" href="#">
        <img src="../../../assets/logo.png" alt="" width="200" height="71" class="d-inline-block align-text-top">
        
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="logoutbtn" routerLink="">Carro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contacto">Contactanos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="loginbtn" routerLink="login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <button type="button" *ngIf="logoutbtn" class="btn btn-block" (click)="logout()">logout</button>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="loginbtn" routerLink="registration" routerLinkActive="active">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="logoutbtn" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>

  <nav *ngIf="!showNav" class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand text ml-5" href="#">
        <img src="../../../assets/logo.png" alt="" width="200" height="71" class="d-inline-block align-text-top">
        
      </a>
    </div>
  </nav>
  <router-outlet></router-outlet>



  